/target/

### Spring ###
*application-local.yml

### Liquibase ###
*liquibase.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode,direnv,jenv
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode,direnv,jenv

### direnv ###
.direnv
.envrc

### JEnv ###
# JEnv local Java version configuration file
.java-version

# Used by previous versions of JEnv
.jenv-version

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode,direnv,jenv
